<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046644854162-ag97aletpdfdtkioi3dlvtn87meaqf1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046644854162-ag97aletpdfdtkioi3dlvtn87meaqf1a</string>
	<key>API_KEY</key>
	<string>AIzaSyBPIyhKYiTpdVMhYs50YNUZAfA18TReRmk</string>
	<key>GCM_SENDER_ID</key>
	<string>1046644854162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beanfactory.woorischool</string>
	<key>PROJECT_ID</key>
	<string>woorischool-9dafe</string>
	<key>STORAGE_BUCKET</key>
	<string>woorischool-9dafe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046644854162:ios:927d6a635fe4cff79e054b</string>
	<key>DATABASE_URL</key>
	<string>https://woorischool-9dafe.firebaseio.com</string>
</dict>
</plist>